*{
    margin: 0;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Sen', sans-serif;



}
.cart_container{
  position: absolute;
  min-width:280px;
  height:250px;
  background-color: aqua;
  top:80px;
  right:30px;
  align-items: start;
  justify-content: start;
  border-radius:8px ;
  border: 2px solid grey;
display: flex;
align-items: start;
justify-content: start;
flex-direction: column;
box-shadow: 1px 1px 20px #aaa;
background-color: white;
overflow-y: scroll;
visibility: hidden;
transform: translate(-50%,-50%)scale(0);
}
.open-cart_container{
  visibility: visible;
  top:190px;
  right:-230px;
  transform: translate(-50%,-50%)scale(1);

}
.cart_container {
  -ms-overflow-style: none;  
  
}
.cart_container::-webkit-scroll{
  display: none;

  height: 40px;
}
.cart_container::-webkit-scroll-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

.slider{
top:20px;
  height:5px;
  border-radius: 5px;
  background:#ddd;
  background-color: aqua;
  position: relative;
}
.slider .progress{
  height: 5px;

  background: brown;
  left:15%;
  right: 15%;
  position: absolute;
  border-radius: 5px;
  
}
.range-input{
  position: relative;
}
.range-input input{
  position: absolute;
  top:20px;
  height: 15px;
  width: 100%; 
  background: none;
  -webkit-appearance: none;
  pointer-events: none;

}
input[type="range"]::webkit-slider-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%; 
  -webkit-appearance: none;

 pointer-events: auto;
 

}


.hr_cart{
  position: absolute;
  top:50px;

}
.cartItem{
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  justify-content: start;
  align-items: start;
  top:60px;
  left:10px;
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sen', sans-serif;

}
.cart_hd{
  font-size: 18px;
  position: absolute;
  left:8px;
  top:8px;
  font-weight: 700;
  float: left;

}
.count{
  color: grey;
  position: absolute;
  right:210px;
  top:32px;
  font-size: 15px;
  font-weight: 700;

}
.fa-xmark{
  position: absolute;
  color: grey;
  right:20px;
  top:11px;
  cursor: pointer;
  font-size: 25px;
}

.nav{
    display: flex;
    justify-content: start;
    position: absolute;
    width:100%;
    padding:30px;

    top:0;
    flex-direction: row;
}
.nav_items{
    position: absolute;
    display: flex;
    justify-content: space-between 20px;
    left: 350px;
    font-size: 20px;
    bottom:20px;
    margin:0px;
    text-align: left;
    text-decoration: none;

}
ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }
li a {
    text-decoration: none;

  display: block;
  padding: 15px;
  color: grey;
} 
li a:hover {

  border-bottom:2px solid grey ;
  display: block;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #c6c6c6;
  }
  .company_name{
    font-size: 30px;
   font-family:[Kumbh Sans] ;
    font-weight: 400,700;
    left:5px;
   
}
.cart{
    position: absolute;
    bottom: 40px;
    right:220px;
    color: gray;
    cursor: pointer;
  }
  hr{
    position: absolute;
    top:120px;
    width: 100%;
   
   background-color:  hsl(223, 64%, 98%);

}
.choose_bag{
  height:90px;
  width:90px;
 background-color:white;
  position: absolute;
  top:140px;
  left:100px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
 

}
.choose_bag:hover{
  transform:scale(1.1) ;
  margin:10 10px;
  opacity: 1;
  transform: translateX(1);
  border: 2px solid whitesmoke;
  box-shadow: 1px 1px 10px;

}
.img_bag_choose{
  height:80px;
  width:80px;
  position: absolute;
}
.img_bag_desc{
 bottom: 0px;
  position: absolute;
  left:20px;

}
.searchbox{
    display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
    left:550px;
}
.searchtext{
     position: absolute;
    width:300px;
    height:40px;
    border-radius:15px;
    border:3px solid gray;

}
.container{
  position: relative;

 
  height: 350vh;
  margin-right: 100px;
  margin-left: 100px;
}
.left_control{

  height: 300px;
  width: 200px;
  position: absolute;
  left:30px;
  top:250px;
  align-items: center;
  justify-content: center;
  overflow: scroll;
 
}
 .left_control::-webkit-scroll{
  height: 40px;
}
.left_control::-webkit-scroll-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
.left_control::-webkit-scroll-thumb {
  background: red; 
  border-radius: 10px;
}
.left_control::-webkit-scroll-thumb:hover {
  background: #b30000; 
}
.checkboxes1{
  position: absolute;
  top:200px;
  left:30px;
  color: grey;
}
.checkboxes2{
  position: absolute;
  top: 230px;
  left:30px;
  color: grey;
}
.checkboxes3{
  position: absolute;
  top:260px;
  left:30px;
  color: grey;
}
.checkboxes4{
  position: absolute;
  top:290px;
  left:30px;
  color: grey;
}
fieldset{
  border-radius: 8px;
  border: 2px solid white;
  height: 130px;
  width:150px;
  border-bottom:2px solid grey ;
  display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}
legend{
  font-size: 25px;
  color: grey;
  font-family:[Kumbh Sans] ;
  font-weight: 400,700;

}
.min_number{
  height:30px;
  width:60px;
  background: none;
    color: black;
    font-size: 18px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}
.min_number:hover{
  border-bottom: 2px solid grey;
}
.max_number{
  position: absolute;
  top:37px;
  left:100px;
  height:30px;
  width:60px;
  background: none;
    color: black;
    font-size: 18px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}
.max_number:hover{
  border-bottom: 2px solid grey;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{
-webkit-appearance: none;
}



.bag{
  position: absolute;
  top:10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: all is ease-in-out;
  border-radius: 20px;
  max-width: 100%;
  align-items: center;
   justify-content: center;
}

.bag_price{
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
  width: 170px;
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sen', sans-serif;
}

.addtocart_btn:hover{
  transform:scale(1.1) ;
  margin:10 10px;
  opacity: 1;
  transform: translateX(1);
  
}
.cart_btn{
  color: white;
}



.cart-item{
border-radius: 8px;
border:1px solid grey ;
width:250px;
height: 50px;
font-size: 14px;
justify-content: space-between;
align-items: center;




 
}
.row-img{
  height: 60px;
  width: 60px;

}
.rowimg{
 height: 43px;
  width: 43px;


  

}
.bag_title{
 margin-left: 20px;
  font-size: 20px;
  
  
  width: 200px;
  font-weight:500;
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sen', sans-serif;
   
}
.box{
border:1px solid grey ;
border-radius: 10px;
background-color: aqua;
justify-content: center;
align-items: center;

  height: 220px;
  width:180px;
  background-color: white;
  cursor: pointer;
  transform: translateX(1); 
}
.box:hover{
  transform:scale(1.1) ;
  margin:10 10px;
  opacity: 1;
  transform: translateX(1);
  box-shadow: 1px 1px 10px;
 
  
}
.img-box{
  
 
}


.images{
  height:100px;
  width: 100px;
  margin-left: 30px;

 
}


.addtocart_btn{
  position: absolute;
margin-top: 10px;
 margin-left: 15px;
  height: 40px;
  min-width: 150px;
  background-color: grey;
  border-radius: 8px;
  border:2px solid grey;
 
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-size: 14px;
  font-family: 'Kumbh Sans', sans-serif;font-weight:bolder;
font-weight: 500;  
color: white; 
}

.root{
  margin-left: 50px;

 display: grid;
  height: 1400px;
  min-width: 600px;
  position: absolute;
  left:300px;
  top:240px;
 
grid-template-columns:repeat(2, 1fr);
grid-gap: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
}
.item_name{
 color: grey;
  margin-top: -30px;
  margin-left: 60px;

}
.item_price{

  margin-top: -18px;
  margin-left: 160px;

}
.fa-trash{
  position: absolute;
  margin-top: -14px;
  margin-left: 225px;

}

.fa-trash:hover{
 
  cursor: pointer;
  color: grey;

}




 